.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .input-otp {
    width: 45px;
    height: 45px;
    border: 1px solid #c7c7c7;
    border-radius: 0.25rem;
    text-align: center;
  }
}
.separator {
  width: 100%;
  border: 1px solid #e4dfdf;
  margin: 1rem 0;
}
.just-text {
  text-align: center;
  color: #868282;
  font-size: 13px;
  span {
    margin-left: 0.25rem;
    color: #ed5902;
    font-weight: bold;
  }
}
.error {
  font-size: 10px;
  color: red;
  margin: 0.5rem 0;
}
