.upload-image {
  color: #ed5902;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.image-round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border: 1px dashed #c7c7c7;
}
