#root {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #f7f5f5;
}
.section-wrapper {
  text-align: center;

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 1rem;
    }
    h6 {
      margin: 0.5rem 0;
    }
  }
}
.wrapper {
  background-color: #ffffff;
  border-radius: 0.25rem;
  max-width: 1200px;
  width: 470px;
  margin: 0 auto;
  text-align: left;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.personal-details-section {
  padding: 1.5rem;
  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}
.text-lorem {
  font-size: 13px;
  width: 470px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.header-panel {
  background-color: #2f4b64;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .tab-panel-wrapper {
    display: flex;
    font-size: 14px;
  }

  .rounded-number {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29435a;
    margin-right: 12px;
  }

  .tab {
    color: #c1c9d1;
    display: flex;
    align-items: center;
    margin-right: 6rem;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      font-size: 10px;
      margin-right: 0;
      padding: 0 0.5rem;
    }
    &.active-tab {
      color: #ffffff;
      font-weight: 500;
      .rounded-number {
        background-color: #ed5902;
      }
    }
  }
}
